div {
    display:flexbox;
    justify-content:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    padding: 20px;
}

img.left {
    float:left;
    border: 5px solid burlywood;
    margin-right: 20px;
}

img.right {
    float:right;
    border: 5px solid burlywood;
    margin-left: 20px;
}

h3 {
    text-decoration: underline;
    color: cornsilk;
    font-style: italic;
}