div {
    display:flexbox;
    justify-content:flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    padding:20px;
}

img {
    float:left;
    border: 5px solid burlywood;
    margin-right: 20px;
}

h3 {
    text-decoration: underline;
    color: antiquewhite;
    font-style: italic;
}